.payment-method {
	.accordion-box {
		.block {
			.acc-content {
				.payment-info {
					position: relative;
					display: block;
					background-color: #fff;
					padding: 30px 30px 10px 30px;
				}
			}
			background: #f4f5f4;
			box-shadow: none;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0px;
			}
			.acc-btn {
				padding: 19px 30px 22px 30px;
			  @include media-breakpoint-down(sm){
			  	padding: 20px 0px 20px 15px;
			  }
				.icon-outer {
					transform: translateY(-50%);
					position: absolute;
					top: 50%;
					right: 30px;
					height: auto;
					/* line-height: 65px; */
					font-size: 28px;
					color: #1e2434;
				  @include media-breakpoint-down(sm){
				  	right: 10px;
				  }
				}
				&.active {
					.icon-outer {
						color: var(--theme-color2-text-color);
					}
				}
			}
		}
	}
	.payment-method {
		h3 {
			margin-bottom: 32px;
		}

		
	}

	
}

.checkout-faq-box{
	.accordion-box {
	position: relative;
	.block {
		
		.acc-btn {
			position: relative;
			color: var(--headings-color);
			font-family: var(--title-font);
			font-weight: var(--h4-font-weight);
			font-size: 20px;
			cursor: pointer;
			padding: 20px 30px;
			padding-right: 70px;
		    @include transition(all 500ms ease);
			border-bottom: 1px solid rgba(4, 18, 31, 0.08);
			.icon {
				align-items: center;
				color: var(--headings-color);
				display: flex;
				font-size: 18px;
				height: 35px;
				line-height: 2;
				position: absolute;
				right: 30px;
				top: 50%;
				transform: translateY(-50%);
			    @include transition(all 500ms ease);
			}
			&.active {
				.icon {
					color: var(--theme-color2);
					&:before {
						content: "\f068";
					}
				}
			}
		}
		
		.acc-content {
			display: none;
			position: relative;
			.content {
				padding: 25px 30px;
				position: relative;
				.text {
					display: block;
					font-family: var(--text-font);
					font-size: 16px;
					font-weight: 500;
					line-height: 28px;
					color: #6B7280;
					margin-bottom: 0;
				}
			}

			&.current {
				display: block;
			}
		}
	}
}
}

