//>>>>> Mouse Cursor Start <<<<<//

.tp-cursor #cursor-outer {
    display: block;
}

#cursor-outer {
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    pointer-events: none;
    z-index: 99999;
    opacity: 0;
    top: 0;
    left: 0;
}

#cursorDot {
    position: fixed;
    display: flex;
    align-items: center;
    pointer-events: none;
    background-color: var(--theme-color1);
    border-radius: 50%;
    justify-content: center;
    mix-blend-mode: difference;
    color: transparent;
}

/* cursorDot view 
============= */
#cursorDot .cursorDot-view {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    padding: 0 5px;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    line-height: 1.3;
    text-align: center;
    transform: scale(0);
}

/* cursorDot drag 
============= */
#cursorDot .cursorDot-drag {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0 5px;
    font-size: 15px;
    font-weight: 600;
    color: var(--theme-color-white);
    line-height: 1.2;
    text-align: center;
    transition: all 0.3s;
}
#cursorDot .cursorDot-drag::before,
#cursorDot .cursorDot-drag::after {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    font-size: 19px;
    color: var(--theme-color-white);
    height: 10px;
    line-height: 10px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

#cursorDot .cursorDot-drag::before {
    content: "\f104"; /* Font Awesome */
    left: 0;
    transform: translate3d(20px, 0, 0);
    transition: all 0.25s;
}
#cursorDot .cursorDot-drag::after {
    content: "\f105"; /* Font Awesome */
    right: 0;
    transform: translate3d(-20px, 0, 0);
    transition: all 0.25s;
}
#cursorDot.with-blur {
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* cursorDot close 
============== */
#cursorDot.cursorDot-close-enabled {
    opacity: 1 !important;
}
#cursorDot .cursorDot-close {
    position: absolute;
    padding: 0 5px;
    font-size: 14px;
    font-weight: 600;
    color: var(--theme-color1);
    line-height: 1;
    text-align: center;
}

.tp-magnetic-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}



.back-to-top{
    border-radius: 50% !important;
    background-color: var(--theme-color1);
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: var(--theme-color-white);
    font-size: 18px;
    position: fixed;
    display: inline-block;
    z-index: 999;
    right: 30px;
    bottom: 30px;
    @include transition;
    // opacity: 0;
    // visibility: hidden;
    transform: translateY(20px);

    &:hover {
      background-color: var(--headings-color);
    }

    
    &.show {
        opacity: 1;
        visibility: visible;
        transform: translate(0);
    }
}


.cursor-outer {
    margin-inline-start: -12px;
    margin-top: -12px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--theme-color1); 
    background-color: var(--theme-color1); 
    box-sizing: border-box;
    z-index: 10000000;
    opacity: 0.34;
    transition: all 0.4s ease-out 0s;
}
.cursor-outer.cursor-hover {
    opacity: 0.14;
}
.cursor-outer.cursor-big {
    opacity: 0;
}

.mouseCursor {
    position: fixed;
    top: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    bottom: 0;
    pointer-events: none;
    border-radius: 50%;
    transform: translateZ(0);
    visibility: hidden;
    text-align: center;
}
.mouseCursor.cursor-big {
    width: 20px;
    height: 20px;
    margin-inline-start: -12px;
    margin-top: -12px;
}

.cursor-inner {
    margin-inline-start: -3px;
    margin-top: -3px;
    width: 10px;
    height: 10px;
    z-index: 10000001;
    background-color: var(--theme-color1); 
    opacity: 1;
    transition: all 0.24s ease-out 0s;
}
.cursor-inner span {
    color: $white; 
    line-height: 60px;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

.cursor-inner.cursor-big span {
    opacity: 1;
}

.cursor-inner.cursor-hover {
    margin-inline-start: -10px;
    margin-top: -10px;
    width: 30px;
    height: 30px;
    background-color: var(--theme-color1); 
    border: 1px solid #686363;
    opacity: 0;
}

/*=======================
    Preloader
=======================*/

.preloader {
  align-items: center;
  cursor: default;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999999;

  .animation-preloader {
    z-index: 1000;

    .spinner {
      animation: spinner 1s infinite linear;
      border-radius: 50%;
      border: 3px solid var(--headings-color);
      border-top-color: var(--theme-color1);
      height: 9em;
      margin: 0 auto 3.5em auto;
      width: 9em;

      @media (max-width: 767px) {
        width: 7.5em;
        height: 7.5em;
        margin: 0 auto 1.5em auto;
      }
    }

    .txt-loading {
      font: bold 5em var(--heading-font-family), var(--body-font-family);
      text-align: center;
      user-select: none;

      @media (max-width: 767px) {
        font-size: 2.5em;
      }

      .letters-loading {
        color: var(--theme-color1);
        position: relative;

        &:nth-child(2):before {
          animation-delay: 0.2s;
        }

        &:nth-child(3):before {
          animation-delay: 0.4s;
        }

        &:nth-child(4):before {
          animation-delay: 0.6s;
        }

        &:nth-child(5):before {
          animation-delay: 0.8s;
        }

        &:nth-child(6):before {
          animation-delay: 1s;
        }

        &:nth-child(7):before {
          animation-delay: 1.2s;
        }

        &:nth-child(8):before {
          animation-delay: 1.4s;
        }

        &::before {
          animation: letters-loading 4s infinite;
          color: var(--headings-color);
          content: attr(data-text-preloader);
          left: 0;
          opacity: 0;
          font-family: var(--heading-font-family);
          position: absolute;
          top: -3px;
          transform: rotateY(-90deg);
        }
      }
    }
  }

  p {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: var(--headings-color);
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    z-index: 1;
    pointer-events: none;

    .row {
      height: 100%;
    }

    .loader-section {
      padding: 0px;

      .bg {
        background-color: var(--body-bg);
        height: 100%;
        left: 0;
        width: 100%;
        transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
      }
    }
  }

  &.loaded {
    .animation-preloader {
      opacity: 0;
      transition: 0.3s ease-out;
    }

    .loader-section {
      .bg {
        width: 0;
        transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1);
      }
    }
  }
}