.theme-btn {
    font-size: 16px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-weight: 700;
    text-transform: capitalize;
    height: 58px;
    line-height: 58px;
    background-color: var(--theme-color1);
    overflow: hidden;
    display: inline-block;
    padding: 0 35px;
    color: $white;
    font-family: var(--heading-font-family);
    border-radius: 37px;
    text-align: center;


    &::before {
        content: "";
        position: absolute;
        width: 0;
        top: -10px;
        height: 0;
        background-color: var(--headings-color);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.8s ease;
        z-index: -1;
    }

    i {
      margin-right: 5px;
    }

    &:hover {
        color: var(--theme-color-white);

        &::before {
          width: 800px;
          height: 800px;
          display: inline-block;
        }
    }
}