    
/*** 
====================================================================
  Main Header
====================================================================
***/

.header-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

     @include media-breakpoint-down (lg){
        background-color: var(--theme-color1);
      }

     .mobile-nav-toggler {
          color: var(--theme-color-white);
          font-size: 30px;
          margin-left: 0;
      }


    .logo {
      @include media-breakpoint-down (xxxl){
        display: block !important;
      }
    }

    .main-logo {
        position: absolute;
        left: 80px;
        top: 30px;

        @include media-breakpoint-down (xxxxl){
          left: 15px;
        }

        @include media-breakpoint-down (xxxl){
          display: none;
        }
    }

    .link-btn {
      display: inline-block;
      color: var(--theme-color2);
      font-size: 16px;
      font-weight: 600;
      font-family: var(--heading-font-family);
      text-decoration: underline;
      text-transform: capitalize;
      position: absolute;
      right: 80px;
      top: 30px;

      @include media-breakpoint-down (xxxxl){
        right: 15px;
      }

      @include media-breakpoint-down (xxxl){
        display: none;
      }
    }
    
    &::before {
        @include before;
        background: #151515;
        z-index: -1;
        height: 70%;

         @include media-breakpoint-down (lg){
          display: none;
      }
    }

    .main-menu .navigation > li > a {
        color: var(--theme-color-white);
        &:hover {
            color: var(--theme-color2);
        }
    }

    .main-menu .navigation > li {
        margin-right: 35px;

         @include media-breakpoint-down (xxxl){
           margin-right: 20px;
        }
    }

    .header-top-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 0;

        ul {
            display: flex;
            align-items: center;
            gap: 40px;

            li {
                font-size: 14px;
                font-weight: 600;
                font-family: var(--heading-font-family);
                color: #7A7A7A;
                display: flex;
                align-items: center;
                gap: 8px;

                a {
                    color: #7A7A7A;
                    font-family: var(--heading-font-family);
                }

                i {
                    color: var(--theme-color2);
                }
            }
        }

        .social-icon {
            gap: 14px;
            display: flex;
            align-items: center;

            span {
                font-size: 14px;
                font-weight: 600;
                font-family: var(--heading-font-family);
                display: inline-block;
                margin-right: 20px;
            }

            a {
                color: var(--theme-color-white);

                &:hover {
                    color: var(--theme-color2);
                }
            }
        }
    }

    .main-box {
       background-color: var(--theme-color1);
       padding: 0 45px;
       border-radius: 10px;
       padding-right: 28px;

        @media only screen and (max-width: 1023px) {
          padding: 10px 30px;
      }

      @include media-breakpoint-down (lg){
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
      }
    }

     .ui-btn-outer {
        display: flex;
        align-items: center;
        gap: 10px;


        .ui-btn-search {
             display: flex;
            align-items: center;
            gap: 10px;
        }

        .theme-btn {
            padding: 0 28px;
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            background-color: var(--theme-color2);
            color: var(--headings-color);

            &::before {
                background-color: var(--theme-color-white);
            }
        }

        @media only screen and (max-width: 1023px) {
            .theme-btn {
                display: none;
            }
        }

        .search-btn {
            background-color: var(--theme-color-white);
            border-radius: 50%;
            color: var(--headings-color);
            display: inline-block;
            font-size: 16px;
            height: 50px;
            text-align: center;
            width: 50px;
            transition: all .4s ease-in-out;

            &:hover {
                background-color: var(--theme-color2);
                color: var(--headings-color);
            }
        }
    }
}

.header-style-one {

  .main-box {
    

        .nav-outer {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex
          ;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          width: 100%;
      }

      .outer-box {
        @include flex;
        gap: 30px;

        @include media-breakpoint-down(xxxl) {
           gap: 25px;
        }
      }

      .ui-btn-outer {
          .header-contact {
              @include flex;
              gap: 30px;
              line-height: 1;

              @include media-breakpoint-down(xxxl) {
                 gap: 15px;
              }

               @include media-breakpoint-down(xxl) {
                  display: none;
              }

              .social-icon {
                gap: 20px;
                @include flex;
                border-right: 1px solid #C0C0C0;
                padding-right: 30px;

                  a {
                    color: #CFCFCF;
                    font-size: 18px;

                    &:hover {
                      color: var(--headings-color);
                    }
                  }
              }

              .info-btn {
                font-weight: 600;
                color: var(--theme-color-white);

                &:hover {
                  color: var(--theme-color1);
                }
              }
          }
      }

      .btn-style-one {
        padding: 20px 38px;

          @include media-breakpoint-down(lg) {
            display: none;
        }
      }
  }

}

.header-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 0;

     @media only screen and (max-width: 1023px) {
        padding: 0;
    }

    .main-menu .navigation > li > a {
        color: var(--theme-color-white);
        &:hover {
            color: var(--theme-color1);
        }
    }

    .main-menu .navigation > li {
        margin-right: 35px;

         @include media-breakpoint-down (xxxl){
           margin-right: 20px;
        }
    }

    .main-box {
        padding: 0 120px;
        display: flex;
        align-items: center;
        gap: 150px;

        @include media-breakpoint-down(xxxl) {
          padding: 0 30px;
        }
        @include media-breakpoint-down(xl) {
          gap: 50px;
        }

        @media only screen and (max-width: 1023px){
             padding: 14px 30px;
             gap: 0;
        }

         @media only screen and (max-width: 380px) {
            padding: 14px 15px;
        }
    }

     .ui-btn-outer {
        display: flex;
        align-items: center;
        gap: 10px;


        .ui-btn-search {
             display: flex;
            align-items: center;
            gap: 10px;
        }

        .theme-btn {
            padding: 0 28px;
            height: 50px;
            line-height: 50px;
            font-size: 14px;
        }

        @media only screen and (max-width: 1023px) {
            .theme-btn {
                display: none;
            }
        }

        .search-btn {
            background-color: var(--theme-color-white);
            border-radius: 50%;
            color: var(--headings-color);
            display: inline-block;
            font-size: 16px;
            height: 50px;
            text-align: center;
            width: 50px;
            transition: all .4s ease-in-out;

            &:hover {
                background-color: var(--theme-color1);
                color: var(--theme-color-white);
            }
        }
    }

    .mobile-nav-toggler {
        color: var(--theme-color-white);
        font-size: 30px;
        margin-left: 0;
    }

    
}

.main-menu {
  position: relative;

  .navbar-header {
    display: none;
  }

  .navbar-collapse {
    padding: 0px;
  }

  .navigation {
    margin: 0px;
    position: relative;

    > li {
      float: left;
      margin-right: 30px;
      padding: 25px 0px;
      position: relative;
      transition: all 300ms ease;


      &:last-child {
        margin-right: 0;
      }

    
      &:hover:before,
      &.current:before {
        left: 0;
        width: 100%;
      }

      > a {
        color: var(--headings-color);
        display: flex;
        font-size: 16px;
        line-height: 30px;
        font-weight: 700;
        text-transform: capitalize;
        opacity: 1;
        padding: 0;
        position: relative;
        text-align: center;
        transition: all 300ms ease;
        font-family: var(--heading-font-family);

        @include media-breakpoint-down(xxxxl) {
          font-size: 15px;
        }

        .icon {
          position: relative;
          font-size: 22px;
          line-height: 24px;
          margin-left: 10px;
        }

        &:hover {
          color: var(--theme-color1);
        }
      }

      &.current > a {
        font-weight: 700;
      }

      &.dropdown:hover > ul {
        margin-top: 0;
        opacity: 1;
        top: 100%;
        transition: all 300ms ease;
        visibility: visible;
      }
    }

    > li > ul {
      background-color: var(--body-bg);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
      display: none;
      left: 0px;
      margin-top: 30px;
      opacity: 0;
      padding: 10px 0 0;
      position: absolute;
      top: 100%;
      width: 220px;
      border-radius: 16px;
      z-index: 100;

      &.from-right {
        left: auto;
        right: 0px;
      }

      > li {
        position: relative;
        width: 100%;
        border-bottom: 1px solid rgba(12, 47, 37, 0.1);

        &:last-child {
          border-bottom: none;
        }

        > a {
          position: relative;
          display: block;
          padding: 10px 0px;
          line-height: 29px;
          font-weight: 700;
          font-size: 16px;
          color: var(--headings-color);
          text-align: left;
          font-family: var(--heading-font-family);
          margin: 0 30px;
          text-transform: capitalize;
          transition: all 200ms ease;
        }

        &:hover > a {
          color: var(--theme-color1);
        }

        &.dropdown > a:after {
          font-family: 'Font Awesome 5 Free';
          content: "\f105";
          position: absolute;
          right: 0;
          top: 11px;
          display: block;
          line-height: 24px;
          font-size: 11px;
          font-weight: 600;
          z-index: 5;
        }

        &.dropdown:hover > ul {
          visibility: visible;
          opacity: 1;
          top: 0px;
          margin-top: 20px;
          transition: all 300ms ease;
        }
      }
    }

    > li > ul > li > ul {
      background-color: var(--body-bg);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
      display: none;
      left: 100%;
      margin-top: 10px;
      opacity: 0;
      padding: 10px 0 0;
      position: absolute;
      top: 0px;
      transform: translateY(-30px);
      width: 220px;
      z-index: 100;
      border-radius: 16px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;

      > li {
        position: relative;
         border-bottom: 1px solid rgba(12, 47, 37, 0.1);
        width: 100%;

        &:last-child {
          border-bottom: none;
        }

        > a {
          position: relative;
          display: block;
          padding: 10px 0;
          line-height: 24px;
          font-weight: 700;
          font-size: 16px;
          color: var(--headings-color);
          font-family: var(--heading-font-family);
          text-align: left;
          margin: 0 30px;
          text-transform: capitalize;
          transition: all 300ms ease;

          &:hover {
            color: var(--theme-color1);
          }
        }
      }
    }

    li.dropdown .dropdown-btn {
      border: 1px solid #ffffff;
      color: #ffffff;
      cursor: pointer;
      display: none;
      font-size: 16px;
      height: 30px;
      line-height: 26px;
      position: absolute;
      right: 10px;
      text-align: center;
      top: 8px;
      width: 34px;
      z-index: 5;
    }
  }
}

.sticky-header {
  background-color: var(--theme-color-white);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  left: 0px;
  opacity: 0;
  padding: 0px;
  position: fixed;
  top: 0px;
  visibility: hidden;
  width: 100%;
  z-index: 99999;

  .mobile-nav-toggler {
      color: var(--headings-color) !important;
  }

  @media only screen and (min-width: 1023px){
       .mobile-nav-toggler {
        display: none;
       }
    }

  &.fixed-header {
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    
  }

    // @media only screen and (max-width: 1023px) {
    //     .mobile-nav-toggler {
    //         display: block !important;
    //     }
    // }

  .logo {
    padding: 10px 0;

    img {
      max-height: 40px;
    }
  }

  .nav-outer {
    background: none;
    position: relative;
  }

  .inner-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .main-menu {
    .navigation > li {
      margin: 0;
      margin-left: 46px;
      padding: 20px 0;

      > a {
        color:var(--headings-color);;
      }

      &.current > a,
      &:hover > a {
        color: var(--theme-color1);
      }

      &:before {
        display: none;
      }
    }
  }

  .outer-box,
  .navbar-header {
    display: none;
  }

  .mobile-nav-toggler {
    color: var(--headings-color) !important;
    font-size: 22px;
    line-height: 1;
  }
}


.header-2 {
   .sticky-header {
          .mobile-nav-toggler {
			color: var(--headings-color) !important;
    }
   }
}

// Media Queries
@media only screen and (max-width: 1700px) {
  .main-header .header-lower .outer-box .ui-btn-outer {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
  }

  .header-style-one .header-lower .logo-box {
    margin-right: 30px;
  }

  .main-menu .navigation > li {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 1439px) {
  .main-menu .navigation > li {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 1199px) {
  .header-top {
    margin-left: 0;
    padding: 0;
  }

  .main-header .main-box {
    align-items: center;
  }

  .main-header .header-lower .logo-box {
    margin-top: 0;
    min-height: auto;
  }
}

@media only screen and (min-width: 768px) {
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul {
    display: block !important;
    visibility: hidden;
    opacity: 0;
  }
}

@media only screen and (max-width: 1023px) {
  .header-top,
  .main-header .main-menu {
    display: none;
  }

  .main-header .logo {
    min-width: auto;

    img,
    .sticky-header & img {
      width: auto;
      max-width: none;
      max-height: 45px;
    }
  }

  .main-header .main-box .nav-outer {
    width: auto;
  }

  .main-header .main-box {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 767px) {
  .main-slider .title {
    padding: 7px 20px;

    &:before {
      display: none;
    }
  }
}

@media only screen and (max-width: 599px) {
  .main-header .header-lower .logo-box {
    padding-left: 0;
    min-width: auto;
    margin-right: 0px;
    max-width: 140px;

    .logo img {
      max-width: 140px;
    }
  }
}
